@model QuanLyDeTaiBaoCaoTotNghiep.Models.GraduationReport

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>GraduationReport</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GraduationReportName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GraduationReportName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrlFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrlFile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Keyword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Keyword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UploadDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AcademicYear.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcademicYear.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Class.ClassName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class.ClassName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faculty.FacultyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faculty.FacultyName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GraduationReportID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
