@model QuanLyDeTaiBaoCaoTotNghiep.Models.GraduationReport

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<div>
    <h4>Chi tiết</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GraduationReportName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GraduationReportName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrlFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrlFile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Keyword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Keyword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UploadDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ViewCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViewCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DownloadCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DownloadCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AcademicYear.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcademicYear.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Class.ClassName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class.ClassName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faculty.FacultyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faculty.FacultyName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.GraduationReportID }, new { @class = "btn btn-success" }) |
    @Html.ActionLink("Trở về", "Index",null, new { @class = "btn btn-dark" })

   
</p>
