@model IEnumerable<QuanLyDeTaiBaoCaoTotNghiep.Models.GraduationReport>
@{
    ViewBag.Title = "Quanlibaocao";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@{ var id = Session["TaiKhoan3"];
}

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>

        <style>
            .img {
                border-radius: 10px;
                height: 110px;
                object-fit: cover;
                box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
            }

            td {
                vertical-align: baseline;
                align-items: center;
            }

            th {
                font-weight: bolder;
            }

            p {
                width: 200px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        </style>
    </head>
    @helper  Truncate(string s, int length)
    {
        if (s.Length < length)
        {
            @s
        }
        else
        {
            @s.Substring(0, length)<text>...</text>
        }
    }
    <body>
        <div class="container">
            <p style="margin-top : 20px">
                <a href="/Documents/Create" class="btn btn-primary">Tải lên</a>
            </p>
            <table class="table">
                <tr>
                    <th>
                        Tên báo cáo
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.Image)
                        </th>*@
                    @*<th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>*@
                    @*<th>
                            @Html.DisplayNameFor(model => model.UserID)
                        </th>*@
                    @*<th>
                            @Html.DisplayNameFor(model => model.Author)
                        </th>*@
                    @*<th>
                            @Html.DisplayNameFor(model => model.CommentID)
                        </th>*@
                    @*<th>
                            @Html.DisplayNameFor(model => model.UrlFile)
                        </th>*@
                    @*<th>
                            @Html.DisplayNameFor(model => model.Keyword)
                        </th>*@
                    <th>
                        Lớp
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.Faculty.FacultyName)
                        </th>*@
                    <th>
                        Niên khóa
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Truncate(item.GraduationReportName, 50)

                        </td>
                        @*<td>

                                <img src="~/content/images/anhbaocao/@item.Image" style="width:70px" />
                            </td>
                            <td>
                                @Truncate(item.Description, 50)

                            </td>*@
                        @*<td>
                                @Html.DisplayFor(modelItem => item.UserID)
                            </td>*@
                        @*<td>
                                @Html.DisplayFor(modelItem => item.Author)
                            </td>*@
                        @*<td>
                                @Html.DisplayFor(modelItem => item.CommentID)
                            </td>*@
                        @*<td>
                                @Html.DisplayFor(modelItem => item.UrlFile)
                            </td>*@
                        @*<td>
                                @Html.DisplayFor(modelItem => item.Keyword)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.Class.ClassName)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.Faculty.FacultyName)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.AcademicYear.Name)
                        </td>
                        <td>
                            <a href="/Documents/Edit/@item.GraduationReportID" class="btn btn-success">Sửa</a>
                            <a href="/Documents/Details/@item.GraduationReportID" class="btn btn-info">Chi tiết</a>
                            <a data-id="@item.GraduationReportID" class="btn btn-danger delete">Xóa</a>
                         


                        </td>
                    </tr>
                }

            </table>
        </div>
    </body>
</html>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <script src="~/Scripts/Delete.js"></script>